# DS-7331 Machine Learning Project 1
## Online News Popularity

### EDA

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [27]:
# 1- Import dataset
pdata = pd.read_csv("airbnb.csv")

In [28]:
pdata.head()

,id,log_price,property_type,room_type,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,instant_bookable,last_review,latitude,longitude,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,3,1.0,Real Bed,strict,True,NYC,...,f,7/18/2016,40.696524,-73.991617,Brooklyn Heights,2,100.0,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,7,1.0,Real Bed,strict,True,NYC,...,t,9/23/2017,40.766115,-73.989040,Hell's Kitchen,6,93.0,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,5,1.0,Real Bed,moderate,True,NYC,...,t,9/14/2017,40.808110,-73.943756,Harlem,10,92.0,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,4,1.0,Real Bed,flexible,True,SF,...,f,NaN,37.772004,-122.431619,Lower Haight,0,NaN,94117,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,2,1.0,Real Bed,moderate,True,DC,...,t,1/22/2017,38.925627,-77.034596,Columbia Heights,4,40.0,20009,0.0,1.0

In [29]:
pdata.city.isna().sum()

0

In [31]:
pdata.property_type.isna().sum()

0

In [32]:
pdata.cleaning_fee.isna().sum()

0

AttributeError: 'Series' object has no attribute 'info'

In [7]:
pdata['region'] = pd.cut(pdata.longitude,[-200,-100,0],2,labels=['West','East'])
pdata.region.describe()

count     74111
unique        2
top        East
freq      45224
Name: region, dtype: object

In [12]:
pdata_grouped = pdata.groupby(by=['region'])
print(pdata_grouped.log_price)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f91c16f09a0>

In [34]:
df_grouped = pdata.groupby(by=['city','property_type','cleaning_fee'])
print(df_grouped.describe())

                                         id                              \
                                      count          mean           std
city   property_type   cleaning_fee
Boston Apartment       False          553.0  1.071680e+07  6.272445e+06
                       True          1830.0  1.089678e+07  6.232983e+06
       Bed & Breakfast False            7.0  1.171049e+07  6.237772e+06
                       True            10.0  9.555453e+06  5.621955e+06
       Boat            False            7.0  1.418164e+07  5.239576e+06
...                                     ...           ...           ...
SF     Treehouse       False            1.0  1.346630e+07           NaN
                       True             1.0  5.998890e+06           NaN
       Villa           True             2.0  5.048018e+06  3.410032e+06
       Yurt            False            1.0  2.002870e+07           NaN
                       True             1.0  1.351419e+07           NaN

                                                                          \
                                            min          25%         50%
city   property_type   cleaning_fee
Boston Apartment       False            16885.0   5132940.00  10855523.0
                       True              7103.0   5268108.25  11635809.5
       Bed & Breakfast False          3371088.0   7985293.00   9593186.0
                       True           1332629.0   7030359.75   9760362.5
       Boat            False          6092539.0  10308425.50  16630483.0
...                                         ...          ...         ...
SF     Treehouse       False         13466302.0  13466302.00  13466302.0
                       True           5998890.0   5998890.00   5998890.0
       Villa           True           2636762.0   3842390.25   5048018.5
       Yurt            False         20028695.0  20028695.00  20028695.0
                       True          13514193.0  13514193.00  13514193.0

                                                             log_price  \
                                             75%         max     count
city   property_type   cleaning_fee
Boston Apartment       False         16357148.00  21154302.0     553.0
                       True          16347877.25  21177066.0    1830.0
       Bed & Breakfast False         16192958.00  20652620.0       7.0
                       True          12769757.00  19265072.0      10.0
       Boat            False         18170575.00  19590455.0       7.0
...                                          ...         ...       ...
SF     Treehouse       False         13466302.00  13466302.0       1.0
                       True           5998890.00   5998890.0       1.0
       Villa           True           6253646.75   7459275.0       2.0
       Yurt            False         20028695.00  20028695.0       1.0
                       True          13514193.00  13514193.0       1.0

                                               ... bedrooms         beds  \
                                         mean  ...      75%  max   count
city   property_type   cleaning_fee            ...
Boston Apartment       False         4.769529  ...      1.0  5.0   552.0
                       True          4.964702  ...      2.0  7.0  1830.0
       Bed & Breakfast False         4.485637  ...      1.0  1.0     7.0
                       True          4.633815  ...      1.0  2.0    10.0
       Boat            False         5.458569  ...      2.0  2.0     7.0
...                                       ...  ...      ...  ...     ...
SF     Treehouse       False         4.094345  ...      2.0  2.0     1.0
                       True          5.978886  ...      2.0  2.0     1.0
       Villa           True          4.595120  ...      1.0  1.0     2.0
       Yurt            False         4.465908  ...      0.0  0.0     1.0
                       True          5.783825  ...      1.0  1.0     1.0

                                                                              \
                                         mean       std  min  25%  50%   75%
city   property_type   cleaning_fee
Boston Apartment       False         1.360507  0.894893  1.0  1.0  1.0  2.00
                       True          1.780328  1.242955  0.0  1.0  1.0  2.00
       Bed & Breakfast False         1.142857  0.377964  1.0  1.0  1.0  1.00
                       True          1.300000  0.483046  1.0  1.0  1.0  1.75
       Boat            False         1.714286  0.487950  1.0  1.5  2.0  2.00
...                                       ...       ...  ...  ...  ...   ...
SF     Treehouse       False         1.000000       NaN  1.0  1.0  1.0  1.00
                       True          3.000000       NaN  3.0  3.0  3.0  3.00
       Villa           True          2.000000  0.000000  2.0  2.0  2.0  2.00
       Yurt            False         1.000000       NaN  1.0  1.0  1.0  1.00
                       True          1.000000       NaN  1.0  1.0  1.0  1.00


                                      max
city   property_type   cleaning_fee
Boston Apartment       False         16.0
                       True          16.0
       Bed & Breakfast False          2.0
                       True           2.0
       Boat            False          2.0
...                                   ...
SF     Treehouse       False          1.0
                       True           3.0
       Villa           True           2.0
       Yurt            False          1.0
                       True           1.0

[240 rows x 80 columns]

In [38]:
df_imputed = df_grouped.transform(lambda grp: grp.fillna(grp.median()))
df_imputed[['city','property_type','cleaning_fee','review_scores_rating']] = pdata[['city','property_type','cleaning_fee','review_scores_rating']]



print(df_imputed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    74111 non-null  int64
 1   log_price             74111 non-null  float64
 2   accommodates          74111 non-null  int64
 3   bathrooms             74110 non-null  float64
 4   latitude              74111 non-null  float64
 5   longitude             74111 non-null  float64
 6   number_of_reviews     74111 non-null  int64
 7   review_scores_rating  57389 non-null  float64
 8   bedrooms              74111 non-null  float64
 9   beds                  74111 non-null  float64
 10  city                  74111 non-null  object
 11  property_type         74111 non-null  object
 12  cleaning_fee          74111 non-null  bool
dtypes: bool(1), float64(7), int64(3), object(2)
memory usage: 6.9+ MB
None

AttributeError: 'DataFrameGroupBy' object has no attribute 'info'

### Business Understanding

In [1]:
#Code here

*** Write Up ***

### Data Meaning Type

In [2]:
#Code here

*** Write Up ***

### Data Quality

In [3]:
#Code here

*** Write Up ***

### Simple Statistics

In [4]:
#Code here

*** Write Up ***

### Visualize Attributes

In [5]:
#Code here

*** Write Up ***

### Explore Joint Attributes

In [6]:
sns

*** Write Up ***

### Explore Attributes and Class

In [7]:
#Code here

*** Write Up ***

### New Features

In [8]:
#Code here

*** Write Up ***

### Exceptional Work

In [9]:
#Code here

*** Write Up ***